:host {
  label {
    color: #646c9a;
  }
}

fieldset.fieldset-border {
  border: 1px solid #ddd;
  padding: 0 1.4em 1.4em 1.4em;
  margin: 0 0 0 0;
}
legend {
  margin-left: -10px !important;
}
legend.fieldset-border {
  font-size: 1em !important;
  font-weight: bold;
  text-align: left;
  width: auto;
  padding: 0 10px;
  border-bottom: none;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}
